#### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [23]:
## Ans:
a = 'xyz'
b = [1,2,3]
c = 4.7
d = (4,5,6)

#### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

##### Ans:

#### var1 is a string

#### var2 is a string

#### var3 is a list

#### var4 is an integer

#### Q3. Explain the use of the following operators using an example:
(i) /

(ii) %

(iii) //

(iv) **

In [24]:
#### Ans:
## (i) / is used for simple division
print(10/4)

## (ii) % is used to find modulo
print(10%4)

## (iii) // is used for integer division
print(10//4)

## (iv) ** is used to find exponent
print(10**4)

2.5
2
2
10000

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [25]:
# Ans:
l = [1,2.4,'abc',[1,2,3],(4,5,6),{7,8,9},{1:'a',2:'b'},9,10.11]
for x in l:
    print(x)

1
2.4
abc
[1, 2, 3]
(4, 5, 6)
{8, 9, 7}
{1: 'a', 2: 'b'}
9
10.11

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [26]:
# Ans:
A = 100
B = 10
c = 0
while True:
    if A<0:
        print('A is not purely divisible by B')
        break
    A = A-B
    c+=1
    if A==0:
        print('A is purely divisible by B',c,'times')
        break

A is purely divisible by B 10 times

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [27]:
# Ans:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for x in l:
    if x%3==0:
        print(x,end=' ')

3 6 9 12 15 18 21 24

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Ans:
The data types that can be changed are called mutable data types, and the data types that can not be changed are called immutable data types

In [28]:
## list and dictionaries are mutable
l = [1,2,3]
s = {1:'a',2:'b'}
l[1] = 4
s[1] = 'c'
print(l)
print(s)

## string and tuple are immutable
st = 'abc'
t = (1,2,3)

[1, 4, 3]
{1: 'c', 2: 'b'}

In [29]:
st[1] = 'd'

TypeError: 'str' object does not support item assignment

In [30]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment